header, .personal-info {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
  padding-bottom: 0;
}

.personal-info {
  padding: 0 5rem;
}

.description {
  grid-column-start: span 1;
}

p {
  text-align: left;
}

img {
    width: 75%;
    border-radius: 3%;
}

.description img {
    margin-bottom: 5rem;
}


.description a:link {
  color: #6699FF;
}

.description a:hover {
  color: tomato;
}

.description a:visited {
  color: black;
}
