header, .personal-info {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
  padding-bottom: 0;
}

.personal-info {
  padding: 0 5rem;
}

.description {
  grid-column-start: span 1;
}

p {
  text-align: left;
}

img {
  width: 65%;
  border-radius: 3%;
}

.image {
  object-fit: contain;
  padding-bottom: 3rem;
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  text-align: center;
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

.description a:link {
  color: black;
}

.description a:hover {
  color: tomato;
  text-decoration: underline;
}

.description a:visited {
  color: tomato;
}

@media only screen and (min-width: 1024px) {
  .paragraph,
  .image {
    width: 50%;
  }
}
