header, .blog-container {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
}

p {
  text-align: left;
  padding: 0 6rem;
}

footer p {
  padding: 0;
}

h2 {
  text-align: left;
  padding: 0 3rem;
}

img {
  width: 70%;
  height: auto;
  border-radius: 3%;
  border: 5px solid white;
}

img:hover {
  border: 5px solid #808080;
}

.interests {
  padding: 1.5rem 0;
}
