header {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 28vw;
}

.interests {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.la-croix {
  background-color: #EAEDF0;
}

.active {
  background-color: #EAEDF0;
}

.travel {
  background-color: #EAEDF0;
}

footer p {
  padding: 0;
}

h2 {
  text-align: left;
  padding: 0 3rem;
}

img {
  width: 70%;
  height: auto;
  border-radius: 3%;
  border: 5px solid white;
}

.interests img {
  transition: 0.3s;
  filter: blur(0.5px) brightness(50%);
}

.interests img:hover {
  transition: 0.3s;
  filter: none;
}

.titles {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
}

.interests img:hover h3, .interests img:hover p {
  opacity: 0;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .interests {
    width: 50%;
  }
}
