header, .blog-container {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
}

footer p {
  padding: 0;
}

h2 {
  text-align: left;
  padding: 0 3rem;
}

img {
  width: 70%;
  height: auto;
  border-radius: 3%;
  border: 5px solid white;
}

.interests{
  padding: 1.5rem 0;
  position: relative;
}

.interests img {
  transition: 0.3s;
  filter: blur(0.5px) brightness(50%);
}

/* .interests:hover img {
  filter: blur(0.5px) brightness(80%);
  box-shadow: 0 0 5px #808080;
} */

.interests:hover img {
  transition: 0.3s;
  filter: none;
}

.interests h3, .interests p {
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  color: #FFFFFF;
  /* opacity: 0; */
  opacity: 1;
  transition: 0.3s;
  margin-left: 10rem;
}

.interests:hover h3, .interests:hover p {
  /* opacity: 1; */
  opacity: 0;
}

.interests p {
  text-align: left;
  padding: 0 6rem;
  font-size: 1rem;
  top: 20%;
  margin-left: 4rem;
}
