body {
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 15rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2.5rem;
  padding-top: 14rem;
}

nav {
  grid-column: 2 / 3;
}

header {
  color: #FFFFFF;
}

header sub {
  color: #B8B8B8;
}

.intro {
  grid-column: 1 / 2;
}


a {
  text-decoration: none;
}

a:link {
  color: #FFFFFF;
}

.dir a:hover {
  color: tomato;
}

a:visited {
  color: #FFFFFF;
}

.name {
  color: #66CCFF;
}

.black {
  color: #FFFFFF;
}
