header, .container {
  display: flex;
  flex-direction: column;
  margin-right: 28vw;
}

.container {
  padding: 10px 40px;
  font-family: 'Roboto', sans-serif;
}

.container ul {
  list-style-type: none;
  position: relative;
  padding: 0;
}

.container ul::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 4%;
  background: #DDDDDD;
}

.container ul li {
  padding: 20px 20px;
  height: 40rem;
}

.container ul li {
  margin-bottom: 1rem;
}

.container ul li div {
  padding: 0.6% 12%;
  font-size: 17px;
  text-align: left;
}

.container ul li span {
  color: #AAAAAA;
  position: absolute;
  left: 13px;
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 5px 0;
}

.selected div{
  color: tomato;
}

img {
  display: block;
  margin-left: 12%;
  padding: 1rem 0;
  width: 60%;
}

.container ul li .button {
    background-color: white; /* Green */
    border: 2px solid tomato;
    color: white;
    padding: 11px 0;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 8px;
    width: 15%;
    margin-left: 12%;
}

.logos {
  width: 6%;
  /* border: 2px solid black;
  border-radius: 8px; */
  margin: 0 12%;
  padding: 0.3rem 0;
}

.logos-selected{
  border: 2px solid tomato;
}
