body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 28vw;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  background-color: #202020;
  text-align: left;
  color: #FFFFFF;
}

.sidebar a {
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar-nav, footer {
  padding-left: 2rem;
  padding-top: 1rem;
  line-height: 1.6rem;
}

.sidebar-about h1 {
  color: #000000;
  margin-top: 0;
  font-family: serif;
  font-size: 3rem;
}

.sidebar-about a:hover {
  text-decoration: underline;
}

.align-bottom {
  position: fixed;
  bottom:0;
  width: 100%;
}

.sidebar-nav a:hover {
  color: tomato;
}

footer p {
  font-size: 1rem;
}

footer img {
  width: 1rem;
  height: 1rem;
  color: white;
}

footer nav a{
  padding: 0.20rem;
}

footer nav a:hover {
  color: #316AA2;
}
