body {
   font-family: 'Alegreya', serif;
   text-align: center;
   font-size: 22px;
   padding: 0;
   margin: 0;
}

* {
  border: 1px black solid;
}

h1 {
  font-size: 4rem;
  padding: 2rem;
  margin: 0;
  text-align: left;
}

h1, h3 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

header {
  padding: 3rem 3rem;
}

header sub {
  font-family: "Catamaran", "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  display: block;
  line-height: 3rem;
  text-align: left;
  padding-left: 3rem;
  color: #959B9F;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.site-container {
  display: grid;
  grid-template-columns: 1fr;
}
