body {
   font-family: 'Alegreya', serif;
   text-align: center;
   font-size: 22px;
   padding: 0;
   margin: 0;
}

/* * {
  border: 1px black solid;
} */

h1 {
  font-size: 4rem;
  padding: 2rem;
  margin: 0;
  text-align: left;
}

h1, h3 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

header {
  padding: 5rem 0;
}

header sub {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  display: block;
  line-height: 3rem;
  text-align: left;
  padding-left: 2rem;
  color: #959B9F;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.site-container {
  display: grid;
  grid-template-columns: 1fr;
}

.pages-container {
  padding: 5rem;
}

/* .pages-container li:first-of-type {
  background-image: url("../images/alice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */


.pages-container ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-around;
  grid-gap: 1rem;
  /* grid-template-: 1fr 1fr; */
}

.social-media{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}
